<head>
  <title> YSX - The YouTube Stock Market </title>
</head>

<div class="header">

  <a href="https://intense-wildwood-39190.herokuapp.com/">
    <div class="button" style="float:left">
      <span><p>Home</p></span>
    </div>
  </a>

  <a href="https://intense-wildwood-39190.herokuapp.com/signup" >
  <div class="button" style="float:right">
    <span><p>Sign Up</p></span>
  </div>
</a>
<a href="https://intense-wildwood-39190.herokuapp.com/login">
<div class="button" style="float:right">
  <span><p>Login</p></span>
</div>
</a>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
