<head>
  <title> YSX - The YouTube Stock Market </title>
</head>

<%= render 'layouts/header' %>

<div class="profile_sidebar">
  <div class="profile_picture"></div>
  <span><p><%= @user.name %><br>
    Capital: 100,000$<br>
  </p>



  </span>
</div>
