<head>
  <title> YSX - The YouTube Stock Market </title>
</head>


<div class="profile_sidebar" style="margin: 30px">
  <div class="row-picture">
    <img class="circle"  alt="icon">
  </div>
  <span><p><%= @user.name %><br>
        Capital: $<%=@user.capital%><br>
  </p>
  </span>
</div>
