// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.header {
  background-color: #B90000;
  height:65px;
  margin:0px;
  padding:0px;
  display: inline-block;
  width:100%;
  font-family: Calibri;
  font-size: 100px;
}

div.button{
  background-color: #B90000;
  height:65px;
  width:100px;
  color:white;
  font-size: 25px;
  border: none;
  display:inline-block;
}
span{
    text-align:center;
    vertical-align: middle;
    height:65px;
    width:180px;
}

a {
  text-decoration: none;
}

header {
  margin:0px;

}

body{
  margin:0px;
}
